
body, html {
    height: 100%;
    margin: 0;

  }

html {
    background: url(../images/96735d1b2b7cb5551cc3faceee074127.png) no-repeat center center fixed;       
    -webkit-background-size: cover;      
    -moz-background-size: cover;      
    -o-background-size: cover;      
    background-size: cover;
}
.section {
/* position: relative;
height: 100%;
 width: 100%;
background-image: url(../images/96735d1b2b7cb5551cc3faceee074127.png);
background-size: cover; 
background-position: center center;
background-repeat: no-repeat;  */
font-family: "Ubuntu";
font-style: normal;
}

.header {
/* position: fixed; */
top: 0;
left: 0;
width: 100%;
height: 58px;
background: rgba(0, 0, 0, 0.40);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: "Ubuntu";
font-style: normal;
z-index: 1;
}

.header-container {
width: 1366px;
height: 58px;
margin: 0 auto;
padding-left: 79px;
padding-right: 79px; 
display: flex;
align-items: center;
justify-items: center;
}

.form {
  position: relative;
  width: 444px;
  height: 584px;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  margin: 54px 0;
}

.form:after{
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #3CB878;
  left: 0;
  top: 29px;
  z-index: 4;
}
.container {
width: 322px;
height: auto;
/* margin: 0 auto; */
padding: 31px 60px 38px 60px;
}

.form-btn {
  text-decoration: none;
width: 50%;
height: 48px;
padding: 0;
}

.form-btn p {
   display: block;
   text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */

}

.or-span {
width: 152px;
height: 1px;
background: #F2F2F2;
}


/* .input {
  color: #BEBEBE;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  /* display: block;
  width: 100%;
  background: 0 0;
  padding: 0 5px ;
}  */

.visability-hidden {
visibility: hidden;
position: absolute;
width: 0;
height: 0;
z-index: -1;
}

.fields div {
  width: 100%;
}