.logo {
display: flex;
width: 157px;
height: 22px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
text-decoration: none;
color: #FFF;
font-weight: 700;
line-height: 22px; /* 100% */
transition: 500ms;
}

.logo:hover {
color: #236D47;
}

.header-icons {
width: 126px;
height: 24px;
display: flex;
align-items: center;
justify-items: center;
margin-left: 701px;
transition: 500ms;
} 

.calendar-icon {
display: block;
width: 21px;
height: 24px;
margin-right: 27px;
margin-left: 3px;

}

.calendar-icon:hover .my-svg path {
    fill: #236D47;
}

.mail-icon {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 24px;
    transition: 500ms;

}

.mail-icon:hover .my-svg path {
    fill: #236D47;
}

.compass-icon {
    display: block;
    width: 23px;
    height: 24px;
    margin-right: 5px;
    transition: 500ms;

}

.compass-icon:hover .my-svg path {
    fill: #236D47;
}

.stilet {
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
    margin-left: 20px;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 27PX;
}

.header-buttons button {
padding: 0;
border: none;
background-color: #ffffff00;

}

.login {
    width: 108px;
    height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.login a {
text-decoration: none;
color: #FFFFFF;
}

.signup {
    width: 68px;
    height: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    
}

.signup a{
 text-decoration: none;
 color: #FFFFFF;
}

.header-buttons a:hover {
color: #236D47;
text-decoration: underline;
}

.header-form{
display: flex;
align-items: center;
justify-content: space-between;
}
.header-form h1 {
color: #434343;
font-size: 20px;
font-weight: 400;
line-height: 20px; /* 100% */
}

.header-form a {
    color: #3CB878;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.header-form a:hover {
color: #01813F;
text-decoration: underline;
}

.buttons-form {
display: flex;
align-items: center;
justify-content: space-between;
gap: 4px;
margin-top: 15px;
margin-bottom: 31px;
}


.blue-btn {
 background-color: #305DB8;
 border: none;
 border-radius: 3px;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 transition: 500ms;
}

.blue-btn:hover {
    background-color: #022263;
   }
   

.svg-facebook {
width: 24px;
height: 24px;
padding: 12px 13px 12px 11px;
}

.blue-btn-stilet {
width: 1px;
height: 28px;
opacity: 0.1;
background: #0A162F;
flex-shrink: 0;
}

.blue-btn p {
padding-left: 18px;
padding-right: 22px;
}

.red-btn {
    background-color: #DF4A32;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 500ms;
}

.red-btn:hover {
    background-color: #AB1F09;
}
.svg-google {
    width: 30px;
    height: 19px;
    padding: 15px 7px 14px 12px;
}

.red-btn-stilet {
width: 1px;
height: 28px;
opacity: 0.1;
background: #2B0D09;
flex-shrink: 0;
}

.red-btn p {
  text-decoration: none;
    padding-left: 30px;
    padding-right: 27px;
}
.or {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.or-text {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    flex-shrink: 0;
}

.fields {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 12px;
}

/* input[type=text]{
    width: 321px;
    padding: 15px 20px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  } */

.text-field__inp {
   width: 281px;
   height: 14px;
    padding: 15px 20px 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    flex-shrink: 0;
  }

.text-field__inp:active {
    fill: #FFF;
    /* filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21)); */
    
  }
.text-field__inp:focus {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
  color: #434343;
  border: none; 
    outline: none; 
  }


  /* Checkbox! */

.checkbox {
  position: relative;
}

input[type=checkbox] {
  width: 0;
  height: 0;
  position: absolute;
  }


.span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: #ec373700;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }

.span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 75%;
    height: 75%;
    background-image: url("../images/Vector1.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 150ms;
  }

.checkbox__input:checked + .span:before {
    opacity: 1;
  }

.checkbox-label {
  
    padding-left: 28px; 
    width: 241px;
    height: 20px;
   position: relative; 
    cursor: pointer;
    
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    flex-shrink: 0;
  }

.checkbox-label a {
    text-decoration: none;
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    flex-shrink: 0;
  }

  .checkbox-label a:hover {
    text-decoration: underline;
    color: #01813F;
    flex-shrink: 0;
  }

.form-button {
    margin-top: 20px;
   width: 100%;
   height: 46px;
   color: #FFF;
   font-family: Ubuntu;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px; /* 100% */
   border-radius: 4px;
   background: rgba(60, 184, 120, 0.80);
   flex-shrink: 0;
   border: none;
   cursor: pointer;
   transition: 165ms;
}

.form-button:hover {
    border-radius: 4px;
    background: #01813F;
}